html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

body {
    background-color: hsl(235, 18%, 26%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    font-family: "Roboto", sans-serif;
}

@media(min-width: 600px) {
    article {
        max-height: 400px;
        max-width: 700px;
        flex-direction: row-reverse;
        justify-content: space-between;
        border-radius: 25px;
        padding: 15px;
        padding-left: 30px;
    }
    article picture {
        max-width: 300px;
        display: flex;
        justify-content: end;
    }

    article main {
        flex-direction: column;
        justify-content: center;
       padding-left: 15px;
       padding-top: 15px;
    }

    article form {
        margin-top: 20px;
        padding-bottom: 10px;
    }
    article input {
        height: 40px;
        margin-top: 10px;
        border-width: 0.5px;
    }
}

@media(max-width: 600px) {
    article {
        height: 100%;
        width: 100%;
        flex-direction: column;
        padding-bottom: 15px;
    }
    article main {
        flex-direction: column;
    }
    .article-content {
        padding: 30px;
    }
    article form {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
    }
    article img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    article input {
        height: 50px;
        margin-top: 10px;
        border-width: 0.5px;
    }
    article input[type=button] {
        margin-top: 25px;
    }

}

.success-icon {
    float: left; 
    width: 15px; 
    height: 15px; 
    margin-right: 10px;
}

article {
    display: flex;
    background-color: hsl(0, 0%, 100%);
    color: hsl(234, 29%, 20%);
    font-size: 15px;
    font-weight: 400;
}

article main {
    display: flex;
}

article main h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 30px;
    position: relative;
}

article form {
    display: flex;
    flex-direction: column;
}

article label {
    font-weight: 700;
    font-size: 12px;
}

article input {
    border-radius: 5px;
    border-width: 0.5px;
    border-color: hsl(0, 0%,58%);
    border-width: 0.5px;
    color: hsl(0, 0%,58%);
}

article input[type=button] {
    background-color: hsl(234, 29%, 20%);
    text-align: center;
    color: white;
    font-weight: 700;
    border: none;
}

article input[type=button]:hover {
    background-color: hsl(4, 100%, 67%);
}
