@font-face {
    font-family:Roboto ;
    src: url(./assets/fonts/Roboto-Regular.ttf);
}

:root {
    --primary-bg-color: hsl(235, 18%, 26%);
    --primary-color: hsl(234, 29%, 20%);
    --hover-button-color: hsl(4, 100%, 67%);
    --form-bg-color: hsl(0, 0%, 100%);
    --form-input-color: hsl(0, 0%,58%);
}

html, body {
    background-color: var(--primary-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    height: 100%;
}

@media(min-width: 529px) {
    .subscribe-form {
        max-height: 25rem;
        max-width: 50rem;
        flex-direction: row-reverse;
        justify-content: space-between;
        border-radius: 1.5rem;
        padding: 1.25rem;
        padding-left: 2rem;
        gap: 2rem;
    }
    .subscribe-form picture {
        max-width: 300px;
        display: flex;
        justify-content: end;
    }
    .subscribe-form main {
        flex-direction: column;
        justify-content: center;
       padding-left: 1rem;
       padding-top: 1rem;
       max-height: 370px;
    }
    .article-content {
        max-width: 350px;;
    }

    .subscribe-form form {
        margin-top: 1rem;
        padding-bottom: 1rem;
        max-width: 350px;;
    }
    .subscribe-success.active {
        max-width: 340px;
        height: 350px;
        border-radius: 1.5rem;
        padding: 3rem;
    }
}

@media(max-width: 528px) {
    .subscribe-form {
        height: 100%;
        flex-direction: column;
        padding-bottom: 1rem;
    }
    .subscribe-form main {
        flex-direction: column;
    }
    .article-content {
        padding: 2rem;
    }
    .subscribe-form form {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
    }
    .subscribe-form picture {
        object-fit: cover;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    article input[type=submit] {
        margin-top: 1.5rem;
    }
    .subscribe-success.active {
       height: 90%;
       width: 90%;
       padding: 10%;
    }
}

.subscribe-form .icon-list {
    float: left; 
    margin-right: 0.5rem;
}

.subscribe-form {
    display: flex;
    background-color: var(--form-bg-color);
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 400;
    margin: 0 auto;
}

.subscribe-form main {
    display: flex;
}

.subscribe-form main h1 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2rem;
    position: relative;
}

.subscribe-form form {
    display: flex;
    flex-direction: column;
}

.subscribe-form label {
    font-weight: 700;
    font-size: 0.75rem;
}

input {
    border-radius: 0.3rem;
    border-width: 0.05rem;
    border-color: var(--form-input-color);
    color: var(--form-input-color);
    margin-top: 0.5rem;
    outline: 0;
    height: 2rem
}

input[type=submit], input[type=button] {
    background-color: var(--primary-color);
    text-align: center;
    color: var(--form-bg-color);
    font-weight: 700;
    border: none;
}

input[type=email] {
    color: var(--primary-color);
}

#email-address.invalid {
    border-color: var(--hover-button-color);
}

.invalid-email-label.invalid {
    color: var(--hover-button-color);
}

.invalid-email-label {
    color: var(--form-bg-color);;
}

.labels {
    display: flex;
    justify-content: space-between;
}

input[type=submit]:hover, input[type=button]:hover {
    background-color: var(--hover-button-color);
}

.subscribe-form.active{
        display: none;
}

.subscribe-success {
    display: none;
}

.subscribe-success.active {
    display: flex;
    flex-direction: column;
    background-color: var(--form-bg-color);
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 400;
}

.subscribe-success.active h1 {
    font-weight: 800;
    font-size: 3em;
}

.subscribe-success.active p {
    margin-top: -3%;
    color: hsl(234, 29%, 20%);
}

.subscribe-success.active input[type=button] {
    height: 50px;
    margin-top: auto;
}